<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lishuaihua.index">

    <application>
        <activity android:name=".HeaderRecyclerViewActivity"></activity>
        <activity android:name=".IndexActivity" />
    </application>

</manifest>