<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lishuiahua.webview_module">

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name="com.lishuiahua.webview_module.WebViewTestActivity"/>

        <activity android:name="com.lishuiahua.webview_module.WebActivity"
            android:hardwareAccelerated="true"
            android:process=":remoteweb"/>

    </application>

</manifest>