<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lishuaihua.servicemanager">

    <application>

        <provider
            android:exported="false"
            android:authorities="${applicationId}.svcmgr"
            android:name="com.lishuaihua.servicemanager.ServiceProvider"/>

    </application>

</manifest>
